venv
venv/*
source_files/*
.env
.env.build_config
/.idea/
.DS_Store
/*/__pycache_ls_/*
./music/
data/audio/podcast/*
data/audio/tmp/*
data/transcripts/*
first_episode_flag.txt
test_*.py
temp_audio/*
*.yaml
./uploaded_files/
./temp_files/
./build_and_push.sh
